In [27]:
import torch
import json

data = torch.load('shortened_numerical_fake_data_demographicless.pt')

In [28]:
all_numerical_data = [json.loads(line) for line in open('../../categorization/categorized.json', 'r').readlines()]

In [29]:
len(all_numerical_data)

4227

In [34]:
all_numerical_data = [row for row in all_numerical_data if row != {'skip':True}]

In [35]:
len(all_numerical_data)
# 4089 (138 void)

4089

In [37]:
gpa = [row['basic_info']['gpa'] for row in all_numerical_data]

In [39]:
import pandas as pd
pd.Series(gpa[:-100]).describe()

count    3989.000000
mean        3.738782
std         0.601697
min         0.000000
25%         4.000000
50%         4.000000
75%         4.000000
max         4.000000
dtype: float64

In [40]:
pd.Series(gpa).describe()

count    4089.000000
mean        3.665199
std         0.766957
min         0.000000
25%         4.000000
50%         4.000000
75%         4.000000
max         4.000000
dtype: float64

In [53]:
for key in all_numerical_data[0]['basic_info'].keys():
    all_values = [row['basic_info'][key] for row in all_numerical_data]
    print(key)
    print(pd.DataFrame({'Original': pd.Series(all_values[:-100]).value_counts(),
                        'Added Data': pd.Series(all_values).value_counts()}))

ethnicity
   Original  Added Data
1      2939        2990
0       836         885
2       214         214
gender
   Original  Added Data
0      2085        2111
1      1324        1364
2       580         614
income_bracket
   Original  Added Data
3      1438        1461
2       896         915
4       801         819
1       443         463
0       411         431
type_school
   Original  Added Data
0      2832        2854
1       999        1016
4        82         102
2        51          73
3        25          44
app_round
   Original  Added Data
1      2820        2871
0      1169        1218
gpa
   Original  Added Data
0        10          59
1        20          55
2       217         228
3       508         512
4      3234        3235
ap_ib_courses
    Original  Added Data
0        722         738
6        392         398
10       316         316
8        302         302
7        270         271
9        250         250
11       246         246
12       215         215
13       186         186
5        158         174
4        147         170
14       145         145
3        117         135
15       115         115
2         96         105
16        81          81
1         61          72
18        48          48
17        47          47
21        18          18
20        16          16
19        11          11
23         6           6
22         5           5
24         4           4
32         3           3
30         3           3
25         2           2
26         2           2
40         1           1
37         1           1
36         1           1
27         1           1
28         1           1
ap_ib_scores
   Original  Added Data
4      1274        1277
3      1241        1253
0       994        1036
2       396         406
1        84         117
test_score
   Original  Added Data
4      2435        2441
3       709         717
0       431         480
2       387         401
1        27          50
location
   Original  Added Data
2      2805        2838
1       943         972
0       241         279
state_status
   Original  Added Data
1      3248        3295
0       741         794
legacy
   Original  Added Data
1      3683        3729
0       306         360
intended_major
    Original  Added Data
5        833         843
10       732         743
9        580         593
7        490         501
6        423         435
8        395         402
4        279         292
2        174         183
3         49          55
1         34          42
major_alignment
   Original  Added Data
4      1884        1904
3      1340        1363
2       475         494
5       242         261
1        48          67
first_gen
   Original  Added Data
0      3370        3418
1       619         671
languages
    Original  Added Data
1       3501        3586
2        416         431
3         45          45
4         16          16
5          6           6
7          4           4
11         1           1
special_talents
   Original  Added Data
0      1644        1698
1      1072        1104
2       978         985
3       265         271
4        30          31
hooks
   Original  Added Data
0      2635        2712
1      1108        1121
2       189         197
3        57          59
accept_rate
   Original  Added Data
1      1890        1890
0      1061        1061
2       871         871
3       167         267

In [56]:
key = 'ap_ib_courses'
all_values = [row['basic_info'][key] for row in all_numerical_data]
print(key)
print(pd.DataFrame({'Original': pd.Series(all_values[:-100]),
                    'Added Data': pd.Series(all_values)}).describe())

ap_ib_courses
          Original   Added Data
count  3989.000000  4089.000000
mean      7.564553     7.452433
std       5.363998     5.353205
min       0.000000     0.000000
25%       4.000000     3.000000
50%       8.000000     7.000000
75%      11.000000    11.000000
max      40.000000    40.000000